<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Usage for sample purposes.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Usage for sample purposes.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>com.bridgefy.SDKLicense</key>
	<string>gqRkYXRhxEcyMDE4LTAyLTA5VDIzOjQ1OjAxLjQ3Mlp8MjAyMi0wNC0yMlQwMDoxODowMS4wMDBafGNvbS5icmlkZ2VmeS5CcmlkZ2VmealzaWduYXR1cmXFAQCabXmdA1raWVV8vUAedwS9p2eqddMxtiYvFOVNLZCzGzQMQMOzdpCU1ZSzwT9ULAUphDV1pNv65lJnsq2oGLcYNf2TmGCulqcpRRvu9oHrq9pVd/X9hc3LkN1xR2aCpuGrUm88dovCOfXsg2ksFqOxxkKPi+HDLdzmOhSXdrKvyatgTyNceQYK5FVpre4zyEn/yilxSLiFGCP2tljaMY4gnoTdd8PoloKUMpxTysU4Ya2CisC+QC1U3bzHjg1LB/j/OOxO+qjyGdQKVJaVEhuSjCvz0ANgUK3GdvE1+Bc/TKs8WjvwYHLHcd64vmxYN6r2pis/WI8WUr21WXggyhXx</string>
</dict>
</plist>
